@import '../../abstracts/mixins';
@import '../../abstracts/variables';
.nav {
  padding: 0 150px;
  @include flexbox(row, center, space-between);
  position: fixed;
  width: 100%;
  background-color: $navy;
  height: 100px;
  min-height: 10vh;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  z-index: 2;
  transform: translateY(-10vh);
  opacity: 0;
  animation: navbar 0.3s ease forwards;

  ul {
    @include flexbox(row, center, space-between);
    list-style: none;

    li {
      padding: 15px;
    }
  }

  @include sm {
    padding: 0 25px;
    // bottom: 0;
    // margin-bottom: 0;
    // transform: translateY(10vh);
  }

  &_logo svg {
    width: 150px;
    height: 35px;
  }
}
