.nav_toggle {
  cursor: pointer;
  overflow: hidden;

  .line {
    width: 50px;
    height: 2px;
    background-color: $green;
    margin: 8px auto;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  }
}

// Active class
.is-active {
  .line {
    &:nth-child(1) {
      @include transform(10px, 45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      @include transform(-10px, -45deg);
    }
  }
}
