@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
  font-style: medium;
}

@font-face {
  font-family: 'Roboto Mono', monospace;
  src: url('../fonts/roboto/RobotoMono-Regular.ttf');
}

// @font-face {
//     font-family: 'Baloo Bhaina 2', cursive;
//     src: url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
// }
