// colors
$navy: #09172c;
$navy-light: #172a45;
$navy-dark: #0a192f;
$white: #fff;
$black: #000;
$grey: #333f58;
$green: #64ffda;
$slate: #8892b0;
$slate-light: #ccd6f6;

// fonts
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
