.small_box {
  cursor: pointer;
  width: 30%;
  padding: 25px;
  text-align: center;
  color: $green;
  background: $navy-light;
  border-radius: 3px;
  -webkit-box-shadow: 0px 10px 15px -9px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 10px 15px -9px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 10px 15px -9px rgba(0, 0, 0, 0.6);
  border: 1px solid $navy-light;
  transition: all 0.7s;
  margin: 25px 10px;
  &:hover {
    border: 1px solid rgba(100, 255, 218, 0.1);
    background-color: rgba(100, 255, 218, 0.1);
  }
  @include sm {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
