.casses {
  &_container {
    opacity: 0;
    animation: displayPage 1s ease forwards;
  }

  &_nav {
    background-color: $navy;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 25px 150px;

    @include flexbox(row, center, space-between);
    a {
      margin: 0;

      svg {
        transform: rotate(180deg);
      }
    }

    @include sm {
      padding: 10px 25px;
    }
  }

  &_images {
    width: 100vw;
    img {
      margin-top: -15px;
      width: 100%;
    }
  }
}
